.App {
  text-align: left;
  background-color: rgb(0, 132,255);
  color: white;
  
} 

.botao{
  background-color: rgb(0, 132,255);
  color: white;
  width: 10%;
  
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-link {
  color: #61dafb;
}




